/* Custom styles below */

.screenshot {
    max-height: 80vh;
}

svg#bot-icon {
    height: 6em;
    width: auto;
}

.lead {
    color: #45A8E8;
}

.telegram {
    background-color: #45A8E8;
}

p {
    font-size: large;
}